.resultadosMostrados {
    border: 2px solid #e8e8e8;
  padding: 15px;
  border-radius: 10px;
  background-color: #bebebe;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  color: #000;
}

.consultarVeiculos {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 3rem;
    gap: 10px;
}

.btnBuscar {
    margin: 0 10px;
}

.result-color {
    color: rgba(255, 0, 0, 0.730);
}

.editarAluno {
    margin: 20px 0;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
  }
  
  .editarAluno h2 {
    margin-bottom: 20px;
  }
  
  .editarAluno form {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
  
  .editarAluno label {
    flex: 1 1 45%;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
  }
  
  .editarAluno input {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }